<!DOCTYPE html>
<html lang="en"></html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}!</title>
    <script src="../static/js/socket.io.min.js"></script>
    <link rel="stylesheet" href="../static/styles/css/bulma.min.css">
</head>

<body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a id="navbar-btn" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbar" class="navbar-menu mb-1">
          <div class="navbar-start">
            <a class="navbar-item">
              Home
            </a>
            <a class="navbar-item">
              Trip history
            </a>
          </div>
    </nav>

    <section class="hero is-primary is-small block">
        <div class="hero-body">
            <p class="title">
                Vehicle Data captured from Raspberry
            </p>
        </div>
    </section>

    <section class="section py-0">
        <div class="columns">
            <div class="field column">
                <label class="label">Frequency (Hz):</label>
                <div class="control">
                  <input class="input" type="number" placeholder="e.g. 20" data-error-msg="freq-error-msg">
                  <p class="help is-danger is-hidden" id="freq-error-msg">Enter a valid frequency and Greater than zero</p>
                </div>
            </div>
            <div class="field column">
                <label class="label">ID Vehicle:</label>
                <div class="control">
                    <input class="input" type="text" placeholder="e.g. Renault sandero - Juan" data-error-msg="vehicle-error-msg">
                </div>
                <p class="help is-danger is-hidden" id="vehicle-error-msg">Enter a id for this vehicle</p>
            </div>

        </div>
        
        <div class="buttons is-centered">
            <button id="recording-btn" class="button is-outlined is-primary ">Start</button>
        </div >
    </section>

    <section class="section columns is-multiline is-centered">
        <div class="column is-one-third">
            <div class="card">
                <header class="card-header has-background-info-light">
                    <h3 class="card-header-title is-centered">
                        <strong class="has-text-info-dark">
                            Accelerometer data
                        </strong>
                    </h3>
                </header>
                <div class="card-content">
                    <div class="level is-mobile">
                        <p class="level-left tag is-success is-light">Acc X:</p>
                        <p class="level-right has-text-info-dark"> 123.231</p>
                    </div>
                    <div class="level is-mobile">
                        <p class="level-left tag is-success is-light">Acc Y:</p>
                        <p class="level-right has-text-info-dark"> 123123.231</p>
                    </div>
                    <div class="level is-mobile">
                        <p class="level-left tag is-success is-light">Acc Z:</p>
                        <p class="level-right has-text-info-dark"> 1.231</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-one-third">
            <div class="card">
                <header class="card-header has-background-info-light">
                    <h3 class="card-header-title is-centered">
                        <strong class="has-text-info-dark">
                            Gyroscope data
                        </strong>
                    </h3>
                </header>
                <div class="card-content">
                    <div class="level is-mobile">
                        <p class="level-left tag is-success is-light">Gyr X:</p>
                        <p class="level-right has-text-info-dark"> 123.231</p>
                    </div>
                    <div class="level is-mobile">
                        <p class="level-left tag is-success is-light">Gyr Y:</p>
                        <p class="level-right has-text-info-dark"> 123123.231</p>
                    </div>
                    <div class="level is-mobile">
                        <p class="level-left tag is-success is-light">Gyr Z:</p>
                        <p class="level-right has-text-info-dark"> 1.231</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-one-third">
            <div class="card">
                <header class="card-header has-background-info-light">
                    <h3 class="card-header-title is-centered">
                        <strong class="has-text-info-dark">
                            Magnetometer data
                        </strong>
                    </h3>
                </header>
                <div class="card-content">
                    <div class="level is-mobile">
                        <p class="level-left tag is-success is-light">Mag X:</p>
                        <p class="level-right has-text-info-dark"> 123.231</p>
                    </div>
                    <div class="level is-mobile">
                        <p class="level-left tag is-success is-light">Mag Y:</p>
                        <p class="level-right has-text-info-dark"> 123123.231</p>
                    </div>
                    <div class="level is-mobile">
                        <p class="level-left tag is-success is-light">Mag Z:</p>
                        <p class="level-right has-text-info-dark"> 1.231</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-one-third">
            <div class="card">
                <header class="card-header has-background-info-light">
                    <h3 class="card-header-title is-centered">
                        <strong class="has-text-info-dark">
                            GPS data
                        </strong>
                    </h3>
                </header>
                <div class="card-content">
                    <div class="level is-mobile">
                        <p class="level-left tag is-success is-light">Latitude:</p>
                        <p class="level-right has-text-info-dark"> 123.231</p>
                    </div>
                    <div class="level is-mobile">
                        <p class="level-left tag is-success is-light">Longitude:</p>
                        <p class="level-right has-text-info-dark"> 123123.231</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-one-third">
            <div class="card">
                <header class="card-header has-background-info-light">
                    <h3 class="card-header-title is-centered">
                        <strong class="has-text-info-dark">
                            OBD-II data
                        </strong>
                    </h3>
                </header>
                <div class="card-content">
                    <div class="level is-mobile">
                        <p class="level-left tag is-success is-light">Data 1:</p>
                        <p class="level-right has-text-info-dark"> 123.231</p>
                    </div>
                    <div class="level is-mobile">
                        <p class="level-left tag is-success is-light">Data 2:</p>
                        <p class="level-right has-text-info-dark"> 123123.231</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="../static/js/app.js"></script>
    <script src="../static/js/ws.js"></script>
</body>

</html>